<div class="container-fluid mb-0 px-0" style="background:url('@Content.Image') no-repeat center center;background-size:cover;min-height:1000px;">
    <!-- Content -->

    <div class="container-fluid bg-banner-transparent text-center py-5 mb-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5">
            @Edit.Toolbar(Content)
            <h1 class="bannerTitle">@Content.Image_Title</h1>
            <h2 class="bannerSubTitle">@Content.Image_SubTitle</h2>
        </div>
    </div>
</div>